<p>
    <mat-toolbar color="primary">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <a mat-icon-button matTooltip="Homepage" routerLink="/frontpage" routerLinkActive="active"
            aria-label="programs icon-button">
            <mat-icon>home</mat-icon>
        </a>
        <span>Health app</span>

    </mat-toolbar>
</p>
<mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/programs" routerLinkActive="active">
        Programs
    </button>
    <button mat-menu-item routerLink="/fooddiary" routerLinkActive="active">
        Food diary
    </button>
    <button mat-menu-item routerLink="/calendar" routerLinkActive="active">
        Calendar
    </button>
    <button mat-menu-item routerLink="/profile" routerLinkActive="active">
        Profile
    </button>
</mat-menu>