.container {
    padding: 80px;
    max-width: 50px;

    display: inline-flex;
    flex: auto;
}

.content {
    padding: 50px;

}

.inputs {
    margin: 3px;
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.notes {
    margin: 3px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.foodcard {
    background-color: var(--primary);
}

.foodfields {
    background-color: var(--accent);
}