.notes {
    width: 100%;
}

.foodcard {
    background-color: var(--primary);
    display: flex;
    margin: auto;
    padding: 2px;
}

.diary {
    background-color: var(--primary);

}

.content {
    background-color: var(--primary);
    margin: 10px auto;
}

.nutrient {
    width: 25%;
}