<p>programs works!</p>
<div>
    <form [formGroup]="exerciseForm">
        <div formArrayName="exerciseList">
            <mat-card *ngFor="let exercise of exerciseListArray().controls; let i = index;">

                <input type="text" name="" id="" formControlName="exerciseName" placeholder="exercise">
                <input type="text" name="" id="" formControlName="exerciseType" placeholder="type">
                <input type="text" name="" id="" formCOntrolName="exerciseReps" placeholder="reps">
                <button mat-raised-button color="warm" (click)="removeExercise(i)">Remove exercise</button>

            </mat-card>
            <div>
                <div>


                    <input type="text" name="" id="" placeholder="reps">
                    <button mat-raised-button color="warm">Remove</button>
                </div>
            </div>
        </div>
        <button mat-raised-button color="warm" (click)="addExercise()">Add exercise</button>
        <button mat-raised-button color="warm">Submit</button>

    </form>
</div>