.column {
    display: flex;
    flex-flow: column wrap;
    max-width: fit-content;
    margin: 2px;
}


.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.comp {
    max-width: 450px;
}



.todo-card,
.stat {

    background-color: var(--accent);
    padding: 2px;
    margin: 5px;
}

.todos,
.stats {
    width: 300px;
    background-color: var(--primary);
    height: min-content;
    margin: 2px;
}

.mood {
    margin: 10px auto 10px auto;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
}