.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content>div {
    margin: 1%;
}

.left {
    display: flex;
    flex-wrap: wrap;
    flex: 70%;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.chk,
.list {
    color: black;
}

.todo-card,
.stat {
    background-color: var(--accent);
    padding: 2px;
    margin: 1%;

}

.add-todos-form {
    background-color: var(--primary);

    mat-form-field {
        width: 100%;
    }
}

.btn1 {
    display: block;
    margin: auto;
    width: 110px;

}

.todos,
.stats {
    width: 30%;
    min-width: 250px;
    background-color: var(--primary);
    height: fit-content;
    margin: 1%;

}

.fd {
    margin: 1% auto 1%;
    flex: 70%;
}

.cal {
    min-width: 400px;
    flex: 30%;
    margin: 1%;
}

.mood {
    border-radius: 100%;
    width: 175px;
    height: 175px;
    justify-content: center;
    align-items: center;
}

.btn {
    margin: auto;
    width: 110px;
}