<div class="content">
    <div class="column">
        <!--List of todo's, will be imported from calendar events / programs-->
        <mat-card class="todos" role="group" aria-labelledby="todo-today" tabindex="0">
            <mat-card-header>
                <mat-card-title>Todo - today</mat-card-title>
            </mat-card-header>
            <mat-card-content>

                <mat-card class="todo-card"><mat-checkbox color="warn">Running</mat-checkbox></mat-card>
                <mat-card class="todo-card"><mat-checkbox color="warn">(todo)</mat-checkbox></mat-card>
                <mat-card class="todo-card"><mat-checkbox color="warn">(todo)</mat-checkbox></mat-card>
            </mat-card-content>
        </mat-card>

        <!--List of users stats, will be imported from users account information-->
        <mat-card class="stats" role="group" aria-labelledby="stats" tabindex="0">
            <mat-card-header>
                <mat-card-title>Stats</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-card class="stat">---</mat-card>
                <mat-card class="stat">---</mat-card>
                <mat-card class="stat">---</mat-card>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="column">

        <!--Card with a mood indicator-->
        <mat-card class="mood">
            <mat-card-header>
                <mat-card-title>Mood</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <button mat-fab color="accent" [matMenuTriggerFor]="menu">
                    <mat-icon>add</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item></button>
                </mat-menu>
            </mat-card-content>
        </mat-card>
        <!--Food diary component-->
        <div class="comp">
            <app-fooddiary></app-fooddiary>
        </div>
    </div>

    <div class="column">
        <!--Calendar component-->
        <div class="comp">
            <app-calendar></app-calendar>

        </div>


    </div>
</div>