.formdiv {
    display: flex;
    flex-direction: column;
}
.btn,
.btn2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.btn2{
    margin-top: 20px;
}

mat-card-header {
    padding: 15px;
}

.loginCard {
    background-color: var(--primary);
    width: 50%;
    margin: auto;
}

mat-label {
    color: rgb(85, 0, 59);
}



