<mat-card class="container">
    <h1>Your Profile</h1>
    <mat-card class="profilePic">
        <img alt="item" [src]="itemImageUrl" width="200px">

    </mat-card>

    <mat-card class="userName">
        <p>Username</p>
    </mat-card>

    <mat-card class="email">
        <p>Email</p>
    </mat-card>

    <mat-card class="stats">
        <p>Stats</p>
        <mat-card-content class="statGrid">
            <div>
                <p>Height:</p>
                <p>0987654</p>
            </div>
            <div>
                <p>Weight:</p>
                <p>098765</p>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="settings">


        <button mat-raised-button color="warn">Change Password</button>


        <button mat-raised-button color="warn">Change Email</button>

    </mat-card>
</mat-card>