<mat-card class="container">
    <mat-card-header>
    <h1>Your Profile</h1>

    </mat-card-header>
    <mat-card class="profilePic">
        <img alt="item" [src]="user.profilepic" width="200px">

    </mat-card>

    <mat-card class="userName">
        <p>{{user.userName}}</p>
    </mat-card>

    <mat-card class="email">
        <p>{{user.email}}</p>
    </mat-card>

    <mat-card class="stats">
        <p>Stats</p>
        <mat-card-content class="statGrid">
            <div>
                <p>Height:</p>
                <p>{{user.height}}</p>
            </div>
            <div>
                <p>Weight:</p>
                <p>{{user.weight}}</p>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="settings">


        <button mat-raised-button color="warn">Change Password</button>


        <button mat-raised-button color="warn">Change Email</button>

    </mat-card>
    
        <button mat-raised-button color="warn" (click)="LogOut()">SIGN OUT</button>
        
    
</mat-card>