.container {
    background-color: var(--primary);
    max-width: 50%;
    align-items: center;
    margin: auto;
}
.mat-divider{
    border-top-color: var(--primary);
}
.profilePic,
.userName,
.email,
.stats,
.signout {
    background-color: var(--accent);
    width: 80%;
    margin: 5px;
}
.list{
    color: black;
}
.settings {
    flex-direction: row;
    justify-content: center;
}
button {
    margin: 5px;
}
