<mat-card class="container">
    <mat-card-header>
        <mat-card-title>
            <h1>Your profile</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card class="profilePic">
        <mat-card-content>
        <img alt="item" [src]="user.profilepic" width="100%">
    </mat-card-content>
    </mat-card>

    <mat-card class="userName">
        <mat-card-content>
            <mat-list-item><span class="list">{{user.userName}}</span></mat-list-item>
        </mat-card-content>
    </mat-card>

    <mat-card class="email">
        <mat-card-content>
            <mat-list-item><span class="list">{{user.email}}</span></mat-list-item>
        </mat-card-content>
    </mat-card>

    <mat-card class="stats">
        <mat-card-header><h3>Stats</h3></mat-card-header>
        <mat-card-content class="statGrid">
            <mat-list>
                <mat-divider></mat-divider>
                <mat-list-item><span class="list">Height: {{user.height}}</span></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><span class="list">Weight: {{user.weight}}</span></mat-list-item>
                <mat-divider></mat-divider>
              </mat-list>
        </mat-card-content>
    </mat-card>

    <div class="settings">
      
        <button mat-raised-button color="warn">Change Password</button>
        <button mat-raised-button color="warn">Change Email</button>
      
    </div>
    
        <button mat-raised-button color="warn" (click)="LogOut()">SIGN OUT</button>
        
    
</mat-card>