.container {
    background-color: var(--primary);
    max-width: 50%;
    align-items: center;
    margin: auto;
}

.profilePic {
    background-color: var(--accent);
    margin: 5px;
    padding: 3px;
}

.userName,
.email,
.stats,
.settings,
.signout {
    background-color: var(--accent);
    width: 50%;
    margin: 5px;
    padding: 3px;
}

.settings {
    flex-direction: row;
}

.statGrid {
    display: flex;
    flex-direction: column;
}

.statGrid>div {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

button {
    margin: 5px;
  
}