.formdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-card-header {
    padding: 15px;
    align-self: center;
}
mat-form-field {
    width: 100%;
}

.rCard {
    background-color: var(--primary);
    width: 50%;
    margin: auto;

}

mat-label {
    color: rgb(85, 0, 59);
}

button {
    padding: 5px;
    margin: 5px;
    width: 20%;
}
@media only screen and (max-width: 500px) {
    .rCard{
        width: 90%;
    }
}